.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #728faa;
  border-radius: 8px;
  background-color: #ececec;
  margin-top:20px;
}
.header {
  display: flex; 
  justify-content: space-around;
  gap: 605px;
}
.team {
  font-size: 45px;
  padding-right: 110px;
}
.package {
  display: flex; 
  gap: 20px;
  text-align:center; 
  margin-top: 30px; 
  margin:auto;
}
.contain {
  display: flex;
  gap: 20px;
  text-align:center;
  margin-top:30px;
  margin:auto;
}
.services {
  border-bottom: 1px solid #6D7D8B;
  color: #6D7D8B; 
  width: 68px;
  height:29px;
  padding-top: 3px;
}
.access {
  border: 2px solid #667fff;
  color: #4DA0FD;
  border-Radius: 5px; 
  display: flex;
  justify-Content: Center; 
  align-Items: center;
  width: 128px;
  height:56px;
  background-Color: #4DA0FD1A;
  margin-top:10px;
}
.blog {
  font-Size: 48px;
  font-Weight: 800;
  margin-Top: 96px;
  margin-Right: 1054px;
  width: 246px;
  height: 60px;
}
.blogtext {
  color: #6D7D8B;
  font-Size: 18px;
  font-Weight: 600;
  width:480px; 
  height:29px;
  padding-Bottom: 90px;

}
.bottom {
  display:flex;
  flex-Wrap: wrap;
  gap: 33px;
  margin-Left: 148px;
}
.next {
  width: 134px;
  height: 38px;
  font-Weight: 600; 
  font-Size: 12PX; 
  color: #6D7D8B;
  background-Color: #dfdcdc;
  display:flex; 
  justify-Content: center; 
  align-Items: center;
  margin-Top:45px;
  margin-Bottom:100px;
}
.blogbox:hover {
  width: 380px; 
  height: 460px;
  color: #4DA0FD;

}
.blogbox {
width:363px; 
height: 440px;
border: 1px solid white;
border-Radius: 20px;
background-Color: #FFF;
}
















/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(203, 203, 203);
}

.zero {
  background-color: #025579;
  border-radius: 85%;
  text-align: center;
}

.contain {}

.todo-header {
  height: 80px;
  width: 392px;
  background-color: #1A8BBB;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.count {
  height: 32px;
  width: 61px;
  border-radius: 9999px;
  background-color: #025579;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-family: sans-serif;
}

.todo-body {
  width: 390px;
  height: 576px;
  background-color: white;
  box-shadow: 10px 5px 5px rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 393px;
}

.bottom {
  border-radius: 99999px;
  height: 45px;
  width: 332px;
  border-color: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;

}

.add {
  border-radius: 9999px;
  height: 50px;
  width: 151px;
  background-color: #1A8BBB;
  color: white;
  font-size: large;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

} */